# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env

# awesome typescript loader cache
.awcache

# Editor
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/api/genomes/SL.2.40/S_lycopersicum_May_2012.2bit
/api/genomes/SL.2.40/S_lycopersicum_May_2012.bb
