:2015
index index.html index.json

cors {
  allowed_headers range
}

# Ignore query part of url for searches
rewrite {
    regexp /api/genomes/(.*)/features?query=(.*)
    to /api/genomes/{1}/features/index.json
}

rewrite {
    regexp /api/genomes/(.*)/genes?query=(.*)
    to /api/genomes/{1}/genes/index.json
}

rewrite {
    # From /genomes/{genome_id}/chromosomes/{chrom_id}/start/{start_position}/end/{end_position}/haplotypes?accessions={accessions}
    # To /api/genomes/{genome_id}/haplotypes/index.json
    regexp /api/genomes/(.*)/chromosomes/(.*)/haplotypes
    to /api/genomes/{1}/haplotypes/index.json
}

rewrite {
    # From /genomes/{genome_id}/chromosomes/{chrom_id}/start/{start_position}/end/{end_position}/genes
    # To /api/genomes/{genome_id}/genes/index.json
    regexp /api/genomes/(.*)/chromosomes/(.*)/genes
    to /api/genomes/{1}/genes/index.json
}

rewrite {
    # From /genomes/{genome_id}/chromosomes/{chrom_id}/start/{start_position}/end/{end_position}/features
    # To /api/genomes/{genome_id}/features/index.json
    regexp /api/genomes/(.*)/chromosomes/(.*)/features
    to /api/genomes/{1}/features/index.json
}

errors {
    404 index.html
}
