localhost:2015
index index.html index.json

# Ignore query part of url for searches
rewrite {
    regexp /api/genomes/(.*)/features?query=(.*)
    to /api/genomes/{1}/features/index.json
}

rewrite {
    regexp /api/genomes/(.*)/genes?query=(.*)
    to /api/genomes/{1}/genes/index.json
}

rewrite {
    # From /genomes/{genome_id}/chromosomes/{chrom_id}/start/{start_position}/end/{end_position}/haplotypes?accessions={accessions}
    # To /api/genomes/{genome_id}/haplotypes/index.json
    regexp /api/genomes/(.*)/chromosomes/(.*)/haplotypes
    to /api/genomes/{1}/haplotypes/index.json
}

errors {
    404 index.html
}